
main {
    height: 100%;
}

header {
    position: absolute;
    min-width: 100%;
}

.main-nav {
    display: flex;
    padding: 1em 2em;
    justify-content: space-between;
}

.nav-bar {
    flex-direction: row;
}

.nav-list {
    display: none;
    gap: 2em;
}

.icon-menu {
    display: block;
}

.title-container {
    margin-top: 22vh;
    max-width: 95%;
    overflow: hidden;
}

.subtitle-container {
    margin-top: 5vh;
}

.socials {
    position: absolute;
    left: 0;
    margin-top: 10vh;
}

.contact-button {
    margin-top: calc(30vh - var(--fs-primary-header));
}

.main-arrow {
    margin-top: calc(10vh - var(--fs-primary-header));
    background-color: var(--clr-primary-100);
}


@media (min-width: 61em) {
    .icon-menu {
        display: none;
    }
    .nav-list {
        display: flex;
    }
    .contact-button {
        margin-top: calc(25vh - var(--fs-primary-header));
    }
    .main-arrow {
        margin-top: calc(25vh - var(--fs-primary-header));
    }

    .socials {
        margin-top: calc(22vh - var(--fs-primary-header))
    }
}


/* Projects */
.project-carousel {
    margin-top: 10vh;
}

.project-card {
    width: 100vw;
    height: 275px;
    padding: 2em 4em;
}

.project-card-title {
    position: relative;
    top: -80px;
}


