
main {
    height: 100%;
}

header {
    position: absolute;
    min-width: 100%;
}

.main-nav {
    display: flex;
    padding: 1em 2em;
    justify-content: space-between;
}

.nav-bar {
    flex-direction: row;
}

.nav-list {
    display: none;
    gap: 2em;
}

.icon-menu {
    display: block;
}

.title-container {
    margin-top: 22vh;
    max-width: 95%;
    overflow: hidden;
}

.subtitle-container {
    margin-top: 5vh;
}

.socials {
    position: absolute;
    left: 0;
    margin-top: 10vh;
}

.contact-button {
    margin-top: calc(30vh - var(--fs-primary-header));
}

.main-arrow {
    margin-top: calc(10vh - var(--fs-primary-header));
    background-color: var(--clr-primary-100);
}


@media (min-width: 61em) {
    .icon-menu {
        display: none;
    }º
    .nav-list {
        display: flex;
    }
    .contact-button {
        margin-top: max(10px, calc(25vh - var(--fs-primary-header)));
    }
    .main-arrow {
        margin-top: max(10px, calc(25vh - var(--fs-primary-header)));
    }

    .socials {
        margin-top: max(10px, calc(22vh - var(--fs-primary-header)));
    }
}


/* Projects little*/
.projects-big {
    display: none;
}

.project-whole-little {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    max-width: 550px;
}


.project-carousel-little{
    margin-top: 5px;
    .project-whole-big {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

}

.project-card-little {
    margin-top: 15px;
    width: 100vw;
    height: 250px;
    padding: 2em 4em;
    max-width: 550px;
}


.project-btns-little {
    display: flex;
    margin-top: 1rem;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 95vw;
}

.project-btns-little > * {
    flex-shrink: 0;
    width: 90px;
    height: 35px;
    border: none;
}

.project-description-little {
    margin-top: 30px;
}

/* projects big */

.project-carousel-big{
    margin-top: 5px;
}

.project-whole-big {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.project-card-big {
    margin-top: 15px;
    width: 60vw;
    height: 50vh;
    padding: 2em 4em;
}


.project-btns-big {
    display: flex;
    margin-top: 1rem;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 95vw;
}

.project-btns-big > * {
    flex-shrink: 0;
    width: 90px;
    height: 35px;
    border: none;
}

.project-description-big {
    margin-top: 30px;
    overflow-y: scroll;
}

/* Skills */
.skills-menu {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    width: 350px;
}

.skills-menu-btn {
    display: flex;
    flex-direction: column;
}

.btn-skills {
    width: 140px;
    height: 15px;
    background-color: var(--clr-bg-mid);
    border: none;
    border-radius: 25px;
}

.skills-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    margin-top: 30px;
    column-gap: 50px;
    row-gap: 10px;
    overflow: scroll;
}

.skill-card {
    width: 120px;
    height: 90px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.skill-card {
    
}

.skills {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
}

.skills-description {
    max-width: calc(max(50%, 450px));
}

.right-bar > * {
    transform: rotate(90deg);
}
  
.left-bar > * {
    transform: rotate(270deg);
}


/* Personal section */

.personal-block {
    width: calc(min(100%, 700px));
}

.description {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
}

.contact-form {
    margin-top: 10px;
    flex-direction: column;
    row-gap: 10px;
}

.form-input {
    width: 80%;
    border-radius: 25px;
    padding: 5px 20px;
    border: none;
}

.form-message {
    aspect-ratio: 10/5;
    max-height: 20vh;
}

.form-input:focus {
    box-shadow: 
    2px 2px 1.3em var(--clr-accent-trn-200),
    -2px -2px 1.3em var(--clr-primary-100),
    5px 5px 1.3em var(--clr-primary-100),
    -5px -5px 1.3em var(--clr-accent-trn-200);
    outline: none;
}

@media (min-width: 61em) {
    .little {
        display: none;
    }

    .big {
        display: flex;
    }

    .skills-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-flow: column;
        column-gap: 10px;
        row-gap: 50px;
    }

    .skill-card {
        width: 17.5vw;
        height: 14vw;
    }

    .skills-description {
        max-width: none;
    }
}