<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/landing.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header class="primary-header">
    <div class="main-nav">
      <a href="#" class="icon-logo"><h4 class="fs-accent fw-semi-bold">LOGO</h4></a>
      <nav class="nav-bar">
        <ul role="list" class="nav-list clr-primary-100 fs-accent fw-semi-bold">
          <li>Home</li>
          <li>About</li>
          <li>Work</li>
          <li>Contact</li>
        </ul>
      </nav>
      <a href="#" class="icon-menu"><h4 class="fs-accent fw-semi-bold">MENU</h4></a>
    </div>
  </header>

  <main>
    <section class="hero bg-grad centered container">
      <div class="title-container">
        <h1 class="ff-header clr-neon-200 fs-primary-header">FABIAN CONTRERAS</h1></div>
      <div> 
      <div class="subtitle-container">
        <h2 class="clr-primary-100 fs-secondary-header">Full-Stack Developer</h2>
        <h2 class="clr-primary-100 fs-secondary-header">Data Analyst</h2>
      
      <aside class="socials">
        <a href="#"><h4 class="fs-txt fw-semi-bold">LOGO</h4></a>
        <a href="#"><h4 class="fs-txt fw-semi-bold">LOGO</h4></a>
      </aside>
      <button class="neon-button-accent contact-button"><a href="#"><h3 class="fs-txt fw-semi-bold">Contact Me</h3></a></button>
      
      <img class="main-arrow" src="" alt="Downwards arrow">
    </section>


    <section class="projects centered container bg-grad-inv">
      <h1 class="fs-section-title clr-neon-200 fw-bold margin-top-sm">Projects</h1>
      <div class="project-carousel container centered">
        <div class="project-card bg-mid container centered">
          <h2 class="fs-accent clr-primary-100 fw-semi-bold project-card-title">PROJECT TITLE -ToUpdate</h2>
          <img src="" alt="project_page">
          <div class="project-btn"> 
            <button class="btn-default clr-primary-100">a</button>
            <button class="btn-default clr-primary-100">a</button>
            <button class="btn-default clr-primary-100">a</button>
            <button class="btn-default clr-primary-100">a</button>
          </div>
          <p class="project-description clr-primary-100">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ratione iure unde optio aspernatur magnam earum, reiciendis maxime, sed hic consequuntur labore vero laudantium mollitia ullam officia quod beatae. Quod adipisci a tempore quibusdam deserunt beatae!</p>
      </div>
      <img src="" alt="Downwards arrow">
    </section>

    <section class="skills container centered">
      <h1 class="fs-section-title clr-neon-200 fw-bold">Skills</h1>
      <p class="fs-txt clr-primary-100-fw-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. 
        Aliquam in hendrerit urna. Pellentesque sit amet sapien</p>
      <aside class="left-bar">
        <button class="regular-btn btn-default">
          <h3 class="clr-txt fs-accent fw-bold">Languages</h3>
        </button>
        <button class="regular-btn btn-default">
          <h3 class="clr-txt fs-accent fw-bold">Web dev</h3>
        </button>
        <button class="regular-btn btn-default">
          <h3 class="clr-txt fs-accent fw-bold">Analysis</h3>
        </button>
      </aside>
      <aside class="right-bar">
        <button class="regular-btn btn-default">
          <h3 class="clr-txt fs-accent fw-bold">Others</h3>
        </button>
        <button class="regular-btn btn-default">
          <h3 class="clr-txt fs-accent fw-bold">Soft-skills</h3>
        </button>
        <button class="regular-btn btn-default">
          <h3 class="clr-txt fs-accent fw-bold">List-All</h3>
        </button>
      </aside>
      <div class="skills-div bg-dark">
        <div class="skill-card clr-bg-mid">
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
        <div class="skill-card clr-bg-mid">skill-image
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
        <div class="skill-card clr-bg-mid">
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
        <div class="skill-card clr-bg-mid">
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
        <div class="skill-card clr-bg-mid">
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
        <div class="skill-card clr-bg-mid">
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
        <div class="skill-card clr-bg-mid">
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
        <div class="skill-card clr-bg-mid">
          <img src="" alt="skill-image">
          <p class="fs-txt clr-accent-900 fw-bold">Python</p>
        </div>
      </div>
      <img src="" alt="Downwards arrow">
    </section>
    <section class="about bg-dark">
      <img src="" alt="Downwards arrow">
    </section>
  </main>
</body>
</html>