<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/landing.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header class="primary-header">
    <div class="main-nav">
      <a href="#" class="icon-logo"><h4 class="fs-accent fw-semi-bold">LOGO</h4></a>
      <nav class="nav-bar">
        <ul role="list" class="nav-list clr-primary-100 fs-accent fw-semi-bold">
          <li><a href="{{ url_for('.home', _anchor='home') }}" class="nav-btn">Home</a></li>
          <li><a href="{{ url_for('.projects', _anchor='projects') }}" class="nav-btn">Projects</a></li>
          <li><a href="{{ url_for('.skills', _anchor='skills') }}" class="nav-btn">Skills</a></li>
          <li><a href="{{ url_for('.about', _anchor='about') }}" class="nav-btn">About</a></li>
          <li><a href="{{ url_for('.contact', _anchor='contact') }}" class="nav-btn">Contact</a></li>
        </ul>
      </nav>
      <a href="#" class="icon-menu"><h4 class="fs-accent fw-semi-bold">MENU</h4></a>
    </div>
  </header>

  <main>
    <section class="home hero bg-grad centered container" id="home">
      <div class="title-container">
        <h1 class="ff-header clr-neon-200 fs-primary-header" onclick="toggleTextLight(this)">FABIAN CONTRERAS</h1></div>
      <div> 
      <div class="subtitle-container">
        <h2 class="clr-primary-100 fs-secondary-header">Full-Stack Developer</h2>
        <h2 class="clr-primary-100 fs-secondary-header">Data Analyst</h2>
      
      <aside class="socials">
        <a href="#"><h4 class="fs-txt fw-semi-bold">LOGO</h4></a>
        <a href="#"><h4 class="fs-txt fw-semi-bold">LOGO</h4></a>
      </aside>
      <a href="{{ url_for('.contact', _anchor='contact') }}" class="btn-neon btn-accent contact-button fs-secondary-header fw-bold">Contact Me</a>
      
      <div class="downwards-arrow main-arrow">
        <img src="" alt="Downwards arrow main-arrow">
      </div>
    </section>

    <section class="projects centered container bg-grad-inv" id="projects">
      <h1 class="fs-section-title clr-neon-200 fw-bold margin-top-sm" onclick="toggleTextLight(this)">PROJECTS</h1>

      <div class="carousel">
        <button class="carousel-btn carousel-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="100%" viewBox="0 0 28 24">
            <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/>
          </svg>
        </button>

        <div class="mask-container">
          <div class="carousel-track-container">
            <ul class="carousel-track">
              <li class="carousel-slide current-slide">
                <div class="project centered fs-txt">
                  <h2 class="fs-accent clr-primary-100 fw-semi-bold project-card-title">PROJECT TITLE</h2>
                  <div class="project-card bg-mid">
                    <img src="" alt="project_page">
                  </div>
                  <div class="project-btns">
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                  </div>
                  <p class="project-description clr-primary-100 fs-txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ratione iure unde optio aspernatur magnam earum, reiciendis maxime, sed hic consequuntur labore vero laudantium mollitia ullam officia quod beatae. Quod adipisci a tempore quibusdam deserunt beatae!</p>
                </div>
              </li>
              <li class="carousel-slide">
                <div class="project centered fs-txt">
                  <h2 class="fs-accent clr-primary-100 fw-semi-bold project-card-title">PROJECT TITLE</h2>
                  <div class="project-card bg-mid">
                    <img src="" alt="project_page">
                  </div>
                  <div class="project-btns">
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                  </div>
                  <p class="project-description clr-primary-100 fs-txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ratione iure unde optio aspernatur magnam earum, reiciendis maxime, sed hic consequuntur labore vero laudantium mollitia ullam officia quod beatae. Quod adipisci a tempore quibusdam deserunt beatae!</p>
                </div>
              </li>
              <li class="carousel-slide">
                <div class="project centered fs-txt">
                  <h2 class="fs-accent clr-primary-100 fw-semi-bold project-card-title">PROJECT TITLE</h2>
                  <div class="project-card bg-mid">
                    <img src="" alt="project_page">
                  </div>
                  <div class="project-btns">
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                  </div>
                  <p class="project-description clr-primary-100 fs-txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ratione iure unde optio aspernatur magnam earum, reiciendis maxime, sed hic consequuntur labore vero laudantium mollitia ullam officia quod beatae. Quod adipisci a tempore quibusdam deserunt beatae!</p>
                </div>
              </li>
              <li class="carousel-slide">
                <div class="project centered fs-txt">
                  <h2 class="fs-accent clr-primary-100 fw-semi-bold project-card-title">PROJECT TITLE</h2>
                  <div class="project-card bg-mid">
                    <img src="" alt="project_page">
                  </div>
                  <div class="project-btns">
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                  </div>
                  <p class="project-description clr-primary-100 fs-txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ratione iure unde optio aspernatur magnam earum, reiciendis maxime, sed hic consequuntur labore vero laudantium mollitia ullam officia quod beatae. Quod adipisci a tempore quibusdam deserunt beatae!</p>
                </div>
              </li>
              <li class="carousel-slide">
                <div class="project centered fs-txt">
                  <h2 class="fs-accent clr-primary-100 fw-semi-bold project-card-title">PROJECT TITLE</h2>
                  <div class="project-card bg-mid">
                    <img src="" alt="project_page">
                  </div>
                  <div class="project-btns">
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                    <button class="btn-default clr-primary-100">a</button>
                  </div>
                  <p class="project-description clr-primary-100 fs-txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ratione iure unde optio aspernatur magnam earum, reiciendis maxime, sed hic consequuntur labore vero laudantium mollitia ullam officia quod beatae. Quod adipisci a tempore quibusdam deserunt beatae!</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <button class="carousel-btn carousel-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="100%" viewBox="0 0 28 24">
            <path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/>
          </svg>      
        </button>
      </div>
      
      <div class="carousel-nav">
        <button class="carousel-indicator current-slide-indicator"></button>
        <button class="carousel-indicator"></button>
        <button class="carousel-indicator"></button>
        <button class="carousel-indicator"></button>
        <button class="carousel-indicator"></button>
      </div>

      <div class="downwards-arrow">
        <img src="" alt="Downwards arrow">
      </div>
    </section>

    <section class="skills container centered bg-dark" id="skills">

      <div class="skills-wrapper">
        <aside class="left-bar big side-bar fw-bold fs-accent">
          <div class="skills-menu-btn centered">
            <span class="skills-btn-text clr-primary-100">D. Analysis</span>
            <button class="btn-skills btn-neon btn-check d-analysis" onclick="toggleCheckbox('.d-analysis')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">All</span>
            <button class="btn-skills btn-neon btn-check all" onclick="toggleCheckbox('.all')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">Development</span>
            <button class="btn-skills btn-neon btn-check development" onclick="toggleCheckbox('.development')"></button>
          </div>
        </aside>
        <div class="skills-content container centered">
          <h1 class="fs-section-title clr-neon-200 fw-bold margin-top-sm" onclick="toggleTextLight(this)">SKILLS</h1>
          <p class="fs-txt clr-primary-100 fw-regular skills-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
            Aliquam in hendrerit urna. Pellentesque sit amet sapien</p>
          <div class="skills-menu little">
            <div class="skills-menu-btn centered">
              <span class="skills-btn-text clr-primary-100">Web Dev</span>
              <button class="btn-skills--little btn-check btn-neon development" onclick="toggleCheckbox('.development')"></button>
            </div>
            <div class="skills-menu-btn centered">
              <span class="skills-btn-text clr-primary-100">Analyis</span>
              <button class="btn-skills--little btn-check btn-neon d-analysis" onclick="toggleCheckbox('.d-analysis')"></button>
            </div>
          </div>
        
        
          <div class="skills-container">
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
            <div class="skill-card bg-mid">
              <img src="" alt="skill-image">
              <p class="fs-txt clr-accent-900 fw-bold">Python</p>
            </div>
          </div>
          <div class="downwards-arrow">
            <img src="" alt="Downwards arrow">
          </div>
        </div>
        
        <aside class="right-bar big side-bar fw-bold fs-accent">
          <div class="skills-menu-btn centered">
            <span class="skills-btn-text clr-primary-100">D. Analysis</span>
            <button class="btn-skills btn-neon btn-check d-analysis" onclick="toggleCheckbox('.d-analysis')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">All</span>
            <button class="btn-skills btn-neon btn-check all" onclick="toggleCheckbox('.all')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">Development</span>
            <button class="btn-skills btn-neon btn-check development" onclick="toggleCheckbox('.development')"></button>
          </div>
        </aside>
      </div>

      <div class="end-bar btn-neon btn-check enlightened" onclick="toggleLight(this)"></div>

    </section>
    
    <section class="about bg-dark container centered" id="about">
      <div class="trapezium trapezium-1 border-neon-200"></div>

      <div class="triangle" id="triangle1">
        <div class="triangle-bar" id="triangle1-up"></div>
        <div class="triangle-bar triangle-side" id="triangle1-left"></div>
        <div class="triangle-bar triangle-side" id="triangle1-right"></div>
      </div>

      <div class="trapezium trapezium-2 border-neon-200"></div>

      <div class="triangle" id="triangle2">
        <div class="triangle-bar" id="triangle2-up"></div>
        <div class="triangle-bar triangle-side" id="triangle2-left"></div>
        <div class="triangle-bar triangle-side" id="triangle2-right"></div>
      </div>

      <div class="about-main border-neon-400 bg-dark container centered">
        <h1 class="fs-section-title clr-neon-200 fw-semi-bold" onclick="toggleTextLight(this)">ABOUT ME</h1>
        <p class="description clr-primary-100 fw-regular fs-txt">
          I am a data analyst and software developer with a strong foundation in maths and a keen understanding of business.
          My analytical prowess, coupled with my ability to problem-solve and deliver results, drives my work in creating innovative,
          user-friendly solutions. I am deeply curious and easy-going, thriving in environments where I can collaborate and continuously learn,
          always aiming to exceed expectations with my multifaceted expertise.
        </p>
      </div>
    <div class="downwards-arrow">
      <img src="" alt="Downwards arrow">
    </div>
    </section>

    <section class="bg-dark contact container centered" id="contact">
      <div class="wrapper fs-txt">
        <div class="form-wrapper clr-primary-100 fs-txt">
          <h1 class="fs-section-title clr-neon-200 fw-semi-bold" onclick="toggleTextLight(this)">CONTACT</h1>
          <form action="" class="contact-form fs-txt">
            <div class="input-group first-input">
              <input name="name" type="text" class="form-input bg-mid" required>
              <label for="">Name</label>
            </div>
            <div class="input-group">
              <input name="email" type="text" class="form-input" required>
              <label for="">Email</label>
            </div>
            <div class="input-group">
              <input name="subject" type="text" class="form-input" required>
              <label for="">Subject</label>
            </div>
            <div class="input-group message">
              <textarea name="emailContent"class="form-input" required></textarea>
              <label for="">Message</label>
            </div>
            <a name="submit" href="#" type="submit" class="contact-btn btn-neon btn-regular-200 fs-secondary-header fw-semi-bold">Contact Me</a>
          </form>
        </div>
      </div>
      <div></div>
    </section>
  </main>
  <script src="/static/js/static.js"></script>
  <script src="/static/js/carousel.js"></script>

</body>
</html>