<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/landing.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" href="/static/images/Vector.ico" type="image/x-icon">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap" rel="stylesheet">
  <title>Fabian's Website</title>
</head>
<body>
  <header class="primary-header">
    <div class="main-nav">
      <svg class="logo-icon" width="40" height="40" viewBox="0 0 550 550" xmlns="http://www.w3.org/2000/svg" onclick="scrollToSection('home')">
        {% for path_data in icons.social['icon-Logo'] %}
            <path d="{{ path_data }}"/>
        {% endfor %}
      </svg>
      <nav class="nav-bar">
        <button class="mobile-nav-toggle" aria-controls="primary-nav" aria-expanded="false"></button>
        <ul id="primary-nav" role="list" class="nav-list clr-primary-100 fs-accent fw-semi-bold" data-visible="false">
          <li><a href="#home" class="nav-btn" onclick="scrollToSection('home')">Home</a></li>
          <li><a href="#projects" class="nav-btn" onclick="scrollToSection('projects')">Projects</a></li>
          <li><a href="#skills" class="nav-btn" onclick="scrollToSection('skills')">Skills</a></li>
          <li><a href="#about" class="nav-btn" onclick="scrollToSection('about')">About</a></li>
          <li><a href="#contact" class="nav-btn" onclick="scrollToSection('contact')">Contact</a></li>
      </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="home hero bg-grad centered container" id="home">
      <div class="header-wrapper title-container centered fs-primary-header" onclick="toggleTitleLight(this)">
        <h1 class="header ff-header clr-neon-200 fs-primary-header">FABIAN CONTRERAS</h1></div>
      <div> 
      <div class="subtitle-container">
        <h2 class="clr-primary-100 fs-secondary-header">Creative Data Analyst</h2>
        <h2 class="clr-primary-100 fs-secondary-header">Python Developer</h2>
      
      <aside class="socials">
        <a href="https://github.com/IlionAcre?tab=repositories">
          <svg class="social-icon" width="40" height="40" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            {% for path_data in icons.social['icon-Github'] %}
                <path d="{{ path_data }}"/>
            {% endfor %}
          </svg>
        </a>
        <a href="https://discord.gg/w3R8nj2ZMt">
          <svg class="social-icon" width="40" height="40" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            {% for path_data in icons.social['icon-Discord'] %}
                <path d="{{ path_data }}"/>
            {% endfor %}
          </svg>
        </a>
      </aside>
      <a href="#contact" class="btn-neon btn-accent contact-button fs-secondary-header fw-bold">Contact Me</a>
      
      <div class="main-arrow">
      </div>
    </section>

    <section class="projects centered container bg-grad-inv" id="projects">
      <h1 class="fs-section-title clr-neon-200 fw-bold margin-top-sm" onclick="toggleTextLight(this)">PROJECTS</h1>

      <div class="carousel">
        <button class="carousel-btn carousel-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="100%" viewBox="0 0 28 24">
            <path d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"/>
          </svg>
        </button>

        <div class="mask-container">
          <div class="carousel-track-container">
            <ul class="carousel-track">
              {% for project in projects %}
                {% if project["id"] == 1%}
                  <li class="carousel-slide current-slide featured">
                {% else %}
                  <li class="carousel-slide">
                {% endif %}
                    <div class="project centered fs-txt">
                      <h2 class="fs-accent clr-primary-100 fw-semi-bold project-card-title">{{ project["title"] }}</h2>
                      <div class="project-card bg-mid">
                        <img class= "project-img" src="{{ icons['projects'][project['id']  | string] }}" alt="project_page">
                      </div>
                      <div class="project-btns">
                        {% for name, link in project["links"].items() %}
                          <a href="{{ link }}">
                            <button class="btn-default btn-neon btn-regular-200 fw-semi-bold">{{ name }}</button>
                          </a>                          
                        {% endfor %}
                      </div>
                      <p class="project-description clr-primary-100 fs-txt">{{ project["description"] }}</p>
                    </div>
                  </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <button class="carousel-btn carousel-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="100%" viewBox="0 0 28 24">
            <path d="M15.293 3.293 6.586 12l8.707 8.707 1.414-1.414L9.414 12l7.293-7.293-1.414-1.414z"/>
          </svg>      
        </button>
      </div>
      
      <div class="carousel-nav">
        {% for project in projects %}
          {% if project["id"] == 2 %}
            <button class="carousel-indicator current-slide-indicator"></button>
          {% else %}
            <button class="carousel-indicator"></button>
          {% endif %}        
        {% endfor %}
      </div>

      <div class="downwards-arrow projects-end"></div>
    </section>

    <section class="skills container centered bg-dark" id="skills"> 

      <div class="skills-wrapper">
        <aside class="left-bar big side-bar fw-bold fs-accent">
          <div class="skills-menu-btn centered">
            <span class="skills-btn-text clr-primary-100">Technical</span>
            <button class="btn-skills btn-neon btn-check technical" onclick="toggleCheckbox('.technical')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">All</span>
            <button class="btn-skills btn-neon btn-check all btn-check--checked" onclick="toggleCheckbox('.all')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">Soft</span>
            <button class="btn-skills btn-neon btn-check soft" onclick="toggleCheckbox('.soft')"></button>
          </div>
        </aside>

        <div class="skills-content container centered">

          <h1 class="fs-section-title clr-neon-200 fw-bold margin-top-sm" onclick="toggleTextLight(this)">SKILLS</h1>
          <p class="fs-txt clr-primary-100 fw-regular skills-description">Throughout my career, I've developed a strong set of technical abilities 
            alongside essential interpersonal skills, which helps me approach challenges with a balanced perspective.
          </p>
          <div class="center-bar fw-bold fs-accent">
            <div class="skills-menu-btn centered">
              <span class="skills-btn-text clr-primary-100">Technical</span>
              <button class="btn-skills btn-neon btn-check technical" onclick="toggleCheckbox('.technical')"></button>
            </div>
            <div class="skills-menu-btn centered fw-bold fs-accent">
              <span class="skills-btn-text clr-primary-100">All</span>
              <button class="btn-skills btn-neon btn-check all btn-check--checked" onclick="toggleCheckbox('.all')"></button>
            </div>
            <div class="skills-menu-btn centered fw-bold fs-accent">
              <span class="skills-btn-text clr-primary-100">Soft</span>
              <button class="btn-skills btn-neon btn-check soft" onclick="toggleCheckbox('.soft')"></button>
            </div>
          </div>
          
          <div class="skills-container">
            {% for skill in skills %}
              <div class="skill-card bg-mid" data-type="{{ skill['type'] }}">
                <img src="{{ icons['skill']['skill-' ~ skill['name']] }}" alt="{{ skill['name'] }}-Icon" class="skills-icon">
                <p class="fs-txt clr-accent-900 fw-bold">{{ skill["name"] }}</p>
              </div>
            {% endfor %}
          </div>
          <div class="downwards-arrow">
          </div>
        </div>
        
        <aside class="right-bar big side-bar fw-bold fs-accent">
          <div class="skills-menu-btn centered">
            <span class="skills-btn-text clr-primary-100">Technical</span>
            <button class="btn-skills btn-neon btn-check technical" onclick="toggleCheckbox('.technical')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">All</span>
            <button class="btn-skills btn-neon btn-check all btn-check--checked" onclick="toggleCheckbox('.all')"></button>
          </div>
          <div class="skills-menu-btn centered fw-bold fs-accent">
            <span class="skills-btn-text clr-primary-100">Soft</span>
            <button class="btn-skills btn-neon btn-check soft" onclick="toggleCheckbox('.soft')"></button>
          </div>
        </aside>
      </div>

      <div class="end-bar btn-neon btn-check enlightened" onclick="toggleLight(this)"></div>

    </section>
    
    <section class="about bg-dark container centered" id="about">
      <div class="trapezium trapezium-1 border-neon-200"></div>

      <div class="triangle" id="triangle1">
        <div class="triangle-bar" id="triangle1-up"></div>
        <div class="triangle-bar triangle-side" id="triangle1-left"></div>
        <div class="triangle-bar triangle-side" id="triangle1-right"></div>
      </div>

      <div class="trapezium trapezium-2 border-neon-200"></div>

      <div class="triangle" id="triangle2">
        <div class="triangle-bar" id="triangle2-up"></div>
        <div class="triangle-bar triangle-side" id="triangle2-left"></div>
        <div class="triangle-bar triangle-side" id="triangle2-right"></div>
      </div>

      <div class="about-main border-neon-400 bg-dark container centered">
        <h1 class="fs-section-title clr-neon-200 fw-semi-bold" onclick="toggleTextLight(this)">ABOUT ME</h1>
        <p class="description clr-primary-100 fw-regular fs-txt">
          I'm a data analyst and software developer with a solid background in math and a strong sense of how businesses work. 
          I’m passionate about digging into data, solving problems, and delivering practical, user-friendly solutions that make a difference. 
          With a curious mindset and an easy-going approach, I thrive in collaborative environments where I can keep learning and growing. 
          My goal is always to go above and beyond expectations, bringing my diverse skills to the table.
        </p>
      </div>
    <div class="downwards-arrow">
    </div>
    </section>

    <section class="bg-dark contact container centered" id="contact">
      <div class="wrapper fs-txt">
        <div class="form-wrapper clr-primary-100 fs-txt">
          <h1 class="fs-section-title clr-neon-200 fw-semi-bold" onclick="toggleTextLight(this)">CONTACT</h1>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="flash-messages">
                {% for category, message in messages %}
                  <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          <form action="/submit_contact" method="POST" class="contact-form fs-txt" id="contact-form">
            <div class="input-group first-input">
              <input name="name" type="text" class="form-input bg-mid" required>
              <label for="">Name</label>
            </div>
            <div class="input-group">
              <input name="email" type="email" class="form-input" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" title="Please enter a valid email address.">
              <label for="">Email</label>
            </div>
            <div class="input-group">
              <input name="subject" type="text" class="form-input" required>
              <label for="">Subject</label>
            </div>
            <div class="input-group message">
              <textarea name="emailContent"class="form-input" required></textarea>
              <label for="">Message</label>
            </div>
            <button name="submit"type="submit" class="contact-btn btn-neon btn-regular-200 fs-secondary-header fw-semi-bold">Contact Me</button>
          </form>
        </div>
      </div>
      <div></div>
    </section>

    <div class="footer">
      <div class="icons">
        <a href="https://github.com/IlionAcre?tab=repositories">
          <svg class="social-icon footer-icon" width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            {% for path_data in icons.social['icon-Github'] %}
                <path d="{{ path_data }}"/>
            {% endfor %}
          </svg>
        </a>
        <a href="https://discord.gg/w3R8nj2ZMt">
          <svg class="social-icon footer-icon" width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            {% for path_data in icons.social['icon-Discord'] %}
                <path d="{{ path_data }}"/>
            {% endfor %}
          </svg>
        </a>
        <a href="https://x.com/falcon_treras">
          <svg class="social-icon footer-icon" width="50" height="50" xmlns="{{ svg_info }}" viewBox="0 0 512 512">
            <path d="M256 0c141.385 0 256 114.615 256 256S397.385 512 256 512 0 397.385 0 256 114.615 0 256 0z"/>
            <path fill="#000000" fill-rule="nonzero" d="M318.64 157.549h33.401l-72.973 83.407 85.85 113.495h-67.222l-52.647-68.836-60.242 68.836h-33.423l78.052-89.212-82.354-107.69h68.924l47.59 62.917 55.044-62.917zm-11.724 176.908h18.51L205.95 176.493h-19.86l120.826 157.964z"/>          </svg>
        </a>
        <a href="https://falcontreras.medium.com/">
          <svg class="social-icon footer-icon" width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <g transform="scale(1.20)">
            {% for path_data in icons.social['icon-Medium'] %}
                <path d="{{ path_data }}"/>
            {% endfor %}
            </g> 
          </svg>
        </a>
      </div>
      <div class="footer-nav">
        <ul class="footer-btns clr-primary-100">
          <li><a href="#home" class="nav-btn" onclick="scrollToSection('home')">Home</a></li>
          <li><a href="#projects" class="nav-btn" onclick="scrollToSection('projects')">Projects</a></li>
          <li><a href="#skills" class="nav-btn" onclick="scrollToSection('skills')">Skills</a></li>
          <li><a href="#about" class="nav-btn" onclick="scrollToSection('about')">About</a></li>
          <li><a href="#contact" class="nav-btn" onclick="scrollToSection('contact')">Contact</a></li>
        </ul>
      </div>
      <div class="copyright">
        <h3 class="fw-regular fs-txt clr-primary-100">Copyright ©2024 Fabian Contreras.</h3>
      </div>
    </div>
  </main>

  {% if form_submitted %}
    <script>
      window.onload = function() {
        window.location.hash = '#contact';
      };
    </script>
  {% endif %}
  <script src="/static/js/static.js"></script>
  <script src="/static/js/carousel.js"></script>

</body>
</html>